body {
    overflow-x: hidden;
    font-family: 'Noto Serif TC', serif;
    background-color: #F3F2F2;
}

/* 麵包屑 */

nav.my_breadcrumb ol.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

nav.my_breadcrumb ol.breadcrumb .breadcrumb-item.active {
    /* color: white; */
    /* font-size: 24px; */
}

/* 骨頭 */

img.bone {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* 下拉選單 */

ul.dropdown-menu {
    min-width: 5rem;
}

ul.dropdown-menu li {
    text-align: center;
}

/* 改變超連結顏色 */

a {
    color: black;
}

a:hover {
    COLOR: blue;
}